@model ThunderITforGEA.Models.Logi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_uzytkownik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_uzytkownik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_zrobil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_zrobil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.czas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
