@model ThunderITforGEA.Models.ServiceManager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nr_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_sm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
