@model ThunderITforGEA.Models.Users_SG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users_SG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceGuard.nr_karty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceGuard.nr_karty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
