@model ThunderITforGEA.Models.ServiceGuard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceGuard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nr_karty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_karty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nr_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lokalizacja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lokalizacja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktualny_czas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktualny_czas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.przedzial_serwisowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.przedzial_serwisowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.do_serwisu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.do_serwisu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ostatni_serwis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ostatni_serwis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ostatni_alarm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ostatni_alarm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licznik_sms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licznik_sms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id_u)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id_u)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jezyk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jezyk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nrSuperVisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrSuperVisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nrServiceCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrServiceCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceManager.nr_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceManager.nr_tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.serial_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
