@model IEnumerable<ThunderITforGEA.Models.Alarmy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_alarmu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typ_alarmu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wykonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wykonania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serial_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceGuard.nr_karty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_alarmu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typ_alarmu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wykonal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wykonania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serial_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceGuard.nr_karty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_a }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_a }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_a })
        </td>
    </tr>
}

</table>
