@model IEnumerable<ThunderITforGEA.Models.GEAAndDataViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Dane dla @ViewBag.serialNumber</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pracownik.serialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pracownik.imieNazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pracownik.ileDoSerwisu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pracownik.nazwaFirmy)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pracownik.serialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pracownik.imieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pracownik.ileDoSerwisu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pracownik.nazwaFirmy)
            </td>
            <td>
                @Html.ActionLink("Aktualizuj dane", "aktualizujDane", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard }) |
                @Html.ActionLink("Zrób serwis", "zrobSerwis", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard })|
                @Html.ActionLink("Zmień przedział czasu", "zmienPrzedzialCzasu", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard }) |
                @Html.ActionLink("Zmień czas total", "zmienCzasTotal", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard }) |
                @Html.ActionLink("Zmień język", "zmienJezyk", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard }) |
                @Html.ActionLink("Zmień serial number", "zmienSerialNumber", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard }) |
                @Html.ActionLink("Zmień numer SuperVisor", "zmienNumerSuperVisor", "SerialPort", new { nrServiceGuard = @ViewBag.nrServiceGuard })
            </td>
        </tr>
    }

</table>
<p>Twoje dane:</p>
<div class="row">
    <div class="col-md-6">
        @Html.DisplayNameFor(model => model.daneGEA.numer_serial)
        @Html.DisplayFor(model => model.First().daneGEA.numer_serial)

        <br>
        @Html.DisplayNameFor(model => model.daneGEA.czas_pracy)
        @Html.DisplayFor(model => model.First().daneGEA.czas_pracy)
        <br>

    </div>
    <div class="col-md-6">
        @Html.DisplayNameFor(model => model.daneGEA.godziny_serwisowe)
        @Html.DisplayFor(model => model.First().daneGEA.godziny_serwisowe)
        <br>
        @Html.DisplayNameFor(model => model.daneGEA.data_ostatniego_serwisu)
        @Html.DisplayFor(model => model.First().daneGEA.data_ostatniego_serwisu)
    </div>

</div>
<script>
function odswiezStrone() {
    location.reload(true);
}
</script>
